Repository ngrok/ngrok-operator, pull requests merged in 2022-12, with the labels that each got.

#68 Document values.yaml and automatically generate it for the README.md
  .github/workflows/generate-chart-readme.yaml
  helm/ingress-controller/README.md
  helm/ingress-controller/values.yaml
Labels: documentation, area/helm

#69 Setup testing for helm
  .github/workflows/ci.yaml
  Makefile
  helm/ingress-controller/.helmignore
  helm/ingress-controller/README.md
  helm/ingress-controller/tests/__snapshot__/controller-rbac_test.yaml.snap
  helm/ingress-controller/tests/controller-cm_test.yaml
  helm/ingress-controller/tests/controller-rbac_test.yaml
  helm/ingress-controller/values.yaml
  scripts/helm-setup.sh
Labels: testing, area/helm-chart

#73 fix: Add description to issue templates so they are valid
  .github/ISSUE_TEMPLATE/controller_bug_report.yaml
  .github/ISSUE_TEMPLATE/helm_bug_report.yaml
Labels: bug

#75 Implemented two predicate filters per reconciler
  helm/ingress-controller/templates/controller-deployment.yaml
  internal/controllers/ingress_controller.go
  internal/controllers/tunnel_controller.go
Labels: area/controller, area/helm-chart

#76 Add initial Release Process documentation
  docs/releases.md
Labels: documentation, area/release

#79 Fix for pr-commenting
  .github/workflows/pr-comments.yaml
Labels: bug, area/release

#81 Trigger update when annotations change
  internal/controllers/ingress_controller.go
  internal/controllers/predicate_filters.go
  internal/controllers/tunnel_controller.go
Labels: area/controller

#78 Automate docker image release
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  VERSION
  docs/releases.md
Labels: area/controller, area/release

#66 A few cleanup items
  .gitattributes
  Makefile
  README.md
  helm/ingress-controller/README.md
  helm/ingress-controller/scripts/gen-agent-config.sh
  helm/ingress-controller/templates/_helpers.tpl
  helm/ingress-controller/templates/agent-config-cm.yaml
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/templates/credentials-secret.yaml
  helm/ingress-controller/tests/__snapshot__/agent-config-cm_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/credentials-secret_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/tests/credentials-secret_test.yaml
  helm/ingress-controller/values.yaml
  pkg/agentapiclient/tunnel.go
Labels: testing, area/helm-chart

#85 Replace the ngrok-agent with ngrok-go
  CHANGELOG.md
  VERSION
  go.mod
  go.sum
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/scripts/gen-agent-config.sh
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  internal/controllers/tunnel_controller.go
  internal/controllers/tunnel_controller_test.go
  pkg/agentapiclient/tunnel.go
  pkg/ngrokapidriver/driver.go
  pkg/ngrokgodriver/driver.go
Labels: area/controller, area/helm-chart

#90 :bug: Fix rending of NOTES.txt
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/templates/NOTES.txt
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: bug, area/helm-chart
