Repository ngrok/ngrok-operator, pull requests merged in 2023-09, with the labels that each got.

#298 deps: bump ngrok-go to 1.4.0
  go.mod
  go.sum
  helm/ingress-controller/Chart.lock
Labels: area/helm-chart

#302 Use service UID instead of ingress UID for tunnel labels
  helm/ingress-controller/Chart.lock
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#300 Release controller v0.9.0
  CHANGELOG.md
  VERSION
Labels: area/release

#304 Remove port portion from destination to present FQDN as SNI
  pkg/tunneldriver/driver.go
Labels: area/controller

#305 Release controller v0.9.1
  CHANGELOG.md
  VERSION
Labels: area/release

#306 Add lifecycle hooks to the template
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/values.yaml
Labels: area/helm-chart
