Repository ngrok/ngrok-operator, pull requests merged in 2023-03, with the labels that each got.

#163 Alex/feb release
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#158 Create a job to auto generate a full set of manifests to install easily
  .gitattributes
  .github/workflows/generate-full-install-manifests.yaml
  manifest-bundle.yaml
Labels: area/ci

#166 Tidy up go.mod
  .github/workflows/ci.yaml
  go.mod
Labels: area/ci

#167 Bump go version to 1.20
  .github/workflows/ci.yaml
  Dockerfile
  README.md
  go.mod
  scripts/preflight.sh
Labels: area/controller, area/ci

#168 Refactor route module updates to be lazy
  internal/controllers/httpsedge_controller.go
  internal/controllers/utils.go
Labels: area/controller

#170 Move Individual Annotations to NgrokModuleSet CRD
  PROJECT
  api/v1alpha1/ngrokmoduleset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  helm/ingress-controller/templates/rbac/ngrokmoduleset_editor_role.yaml
  helm/ingress-controller/templates/rbac/ngrokmoduleset_viewer_role.yaml
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/annotations/annotations.go
  internal/controllers/ingress_controller.go
  internal/store/cachestores.go
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/testutility.go
Labels: area/controller, area/helm-chart

#171 Add Circuit Breaker Module support
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/ngrokmoduleset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controllers/httpsedge_controller.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#173 Add OIDC Route Module
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/ngrokmoduleset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controllers/httpsedge_controller.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#155 Alex/docs overhaul
  README.md
  docs/Architecture.md
  docs/README.md
  docs/annotations.md
  docs/assets/images/Kubernetes-icon-color.svg.png
  docs/assets/images/Under-Construction-Sign.png
  docs/assets/images/basic-k8s-digram.png
  docs/assets/images/basic-k8s-ingress-diagram.png
  docs/assets/images/basic-k8s-operator-user-diagram.png
  docs/assets/images/basic-ngrok-k8s-ingress-diagram.png
  docs/assets/images/kubebuilder_architecture_diagram.svg
  docs/assets/images/ngrok-blue-lrg.png
  docs/deployment-guide/README.md
  docs/deployment-guide/common-helm-k8s-overrides.md
  docs/deployment-guide/credentials.md
  docs/deployment-guide/metrics.md
  docs/deployment-guide/multiple-installations.md
  docs/deployment-guide/ngrok-regions.md
  docs/deployment-guide/white-label-agent-ingress.md
  docs/developer-guide/README.md
  docs/developer-guide/architecture.md
  docs/developer-guide/internal-crds.md
  docs/developer-guide/releasing.md
  docs/examples/README.md
  docs/examples/basic/README.md
  docs/examples/basic/manifests.yaml
  docs/examples/consul/README.md
  docs/examples/external-dns/README.md
  docs/examples/oauth/README.md
  docs/oauth.md
  docs/user-guide/README.md
  docs/user-guide/crds.md
  docs/user-guide/custom-domain.md
  docs/user-guide/ingress-to-edge-relationship.md
  docs/user-guide/ip-restrictions.md
  docs/user-guide/route-modules.md
  docs/user-guide/tcp-edge.md
  docs/user-guide/tls-and-https.md
  e2e-fixtures/hello-world-ingress/hello-world-ingress.yaml
  internal/controllers/utils.go
Labels: documentation, area/controller

#187 Update circuit breaker to use v1.Duration
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controllers/httpsedge_controller.go
Labels: area/controller, area/helm-chart

#172 Use Chart appVersion if tag is not specified
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/_helpers.tpl
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ingress-controller/values.yaml
Labels: area/helm-chart, area/release

#186 Add SAML Route Module
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/ngrokmoduleset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controllers/httpsedge_controller.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#192 Add OAuth Route Module
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/ngrokmoduleset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controllers/httpsedge_controller.go
  internal/errors/errors.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#191 Alex/examples docs
  docs/examples/README.md
  docs/examples/basic/README.md
  docs/examples/consul/README.md
  docs/examples/hello-world/README.md
  docs/examples/hello-world/manifests.yaml
Labels: documentation

#194 Release version 0.5.0 of the kubernetes-ingress-controller image
  CHANGELOG.md
  VERSION
  main.go
Labels: area/controller, area/release

#196 Bump Helm Chart version to 0.7.0
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#193 Add route module documentation
  docs/user-guide/route-modules.md
Labels: documentation

#197 Alex/fix default container name
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
Labels: area/helm-chart

#198 Include ngrok controller version in user agent
  .dockerignore
  Dockerfile
  Makefile
  internal/version/version.go
  main.go
Labels: area/controller

#199 Add log level configuration to helm chart
  Makefile
  go.mod
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/values.yaml
  main.go
Labels: area/controller, area/helm-chart
