Repository ngrok/ngrok-operator, pull requests merged in 2023-07, with the labels that each got.

#269 Update chart dependency bitnami/common
  helm/ingress-controller/Chart.lock
Labels: area/helm-chart

#270 fix: Remove unnecessary break in sync create/update loops
  internal/store/driver.go
Labels: bug, area/controller

#273 some small development script improvements
  e2e-fixtures/hello-https-ingress/EXAMPLE-config.yaml
  e2e-fixtures/hello-world-ingress/EXAMPLE-config-pt2.yaml
  e2e-fixtures/hello-world-ingress/EXAMPLE-config.yaml
  e2e-fixtures/hello-world-namespaced/EXAMPLE-config.yaml
  e2e-fixtures/ingress-class/EXAMPLE-config-different.yaml
  e2e-fixtures/ingress-class/EXAMPLE-config.yaml
  e2e-fixtures/multiple-paths/EXAMPLE-config.yaml
  e2e-fixtures/route-modules/EXAMPLE-config.yaml
  scripts/cleanup-fixtures.sh
  scripts/create-fixtures.sh
  scripts/e2e.sh
  scripts/init_e2e_configs.sh
  scripts/remove-finalizers.sh
Labels: testing

#272 add caching to docker build
  Dockerfile
Labels: area/controller

#271 add logging and update ngrok-go
  go.mod
  go.sum
  main.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#279 update documentation, add preflight check success output
  docs/deployment-guide/README.md
  scripts/preflight.sh
Labels: documentation

#281 Create tunnels per namespace/service
  go.mod
  go.sum
  internal/store/driver.go
Labels: bug, area/controller

#285 Ingress controller owns tunnels it creates and doesn't delete things it doesn't own.
  .envrc
  .gitignore
  Makefile
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/store/driver.go
  internal/store/driver_test.go
  main.go
Labels: area/controller, area/helm-chart

#286 Ingress controller owns https edges it creates and doesn't delete the ones it doesn't own.
  internal/store/driver.go
  internal/store/driver_test.go
  scripts/migrate-edges.sh
  scripts/migrate-tunnels.sh
Labels: area/controller
