Repository ngrok/ngrok-operator, pull requests merged in 2023-06, with the labels that each got.

#238 Support HTTPS backends via service annotation
  api/v1alpha1/tunnel_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/developer-guide/README.md
  e2e-fixtures/hello-https-ingress/EXAMPLE-config.yaml
  e2e-fixtures/hello-https-ingress/e2e-expected.yaml
  e2e-fixtures/hello-https-ingress/hello-https-ingress.yaml
  e2e-fixtures/hello-https-ingress/kustomization.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tunnels.yaml
  internal/controllers/tunnel_controller.go
  internal/store/driver.go
  internal/store/driver_test.go
  pkg/tunneldriver/driver.go
  pkg/tunneldriver/driver_test.go
Labels: documentation, area/controller, area/helm-chart

#244 Add namespace to secret
  helm/ingress-controller/templates/credentials-secret.yaml
  helm/ingress-controller/tests/__snapshot__/credentials-secret_test.yaml.snap
  helm/ingress-controller/tests/credentials-secret_test.yaml
Labels: area/helm-chart

#243 Initialize route backends after module updates
  internal/controllers/httpsedge_controller.go
  internal/errors/errors.go
Labels: area/controller

#251 :tada: Controller Version 0.8.0 :tada:
  CHANGELOG.md
  VERSION
Labels: area/release

#252 🎉 Cut Helm chart 0.10.0 release 🎉
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#257 Skip releasing chart if the release already exists
  .github/workflows/helm_release.yaml
Labels: area/ci

#258 More helm features
  .github/workflows/helm_release.yaml
  .github/workflows/pr-comments.yaml
  Makefile
  helm/ingress-controller/.gitignore
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/templates/controller-pdb.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/tests/controller-pdb_test.yaml
  helm/ingress-controller/values.yaml
  scripts/helm-setup.sh
Labels: enhancement, area/helm-chart, area/release, area/ci

#260 Handle IPPolicy CRD state transitions in a safer way
  api/v1alpha1/ippolicy_types.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ippolicies.yaml
  internal/controllers/ippolicy_controller.go
  internal/controllers/ippolicy_controllers_test.go
Labels: bug, area/controller, area/helm-chart

#259 Handle special case for changing auth types that causes an error duri…
  internal/controllers/httpsedge_controller.go
  internal/controllers/httpsedge_controller_test.go
Labels: bug, area/controller

#262 fix: for changing pathType between 'Exact' and 'Prefix'
  internal/controllers/httpsedge_controller.go
Labels: bug, area/controller

#261 Improve logging for httpsedge controller
  internal/controllers/httpsedge_controller.go
Labels: enhancement, area/controller

#264 Helm chart Release candidate 0.11.0-rc.1
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release
