Repository ngrok/ngrok-operator, pull requests merged in 2023-01, with the labels that each got.

#97 pass region into ngrok go driver
  internal/controllers/tunnel_controller.go
  main.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#99 Fix: Domain not reconciling ID even though it exists
  go.mod
  go.sum
  internal/controllers/domain_controller.go
Labels: bug, area/controller

#107 Fix for finding or creating tunnel group backends
  internal/controllers/httpsedge_controller.go
Labels: bug, area/controller

#116 Automatically label PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: meta/project

#113 Mark more files as generated
  .gitattributes
Labels: meta/project

#114 Add IP Policy CRD and wire up IP Restrictions
  PROJECT
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ippolicy_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/tcpedge_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ippolicies.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  helm/ingress-controller/templates/rbac/ippolicy_editor_role.yaml
  helm/ingress-controller/templates/rbac/ippolicy_viewer_role.yaml
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/annotations/ip_policies/ip_policy.go
  internal/annotations/parser/parser.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller.go
  internal/controllers/ingress_controller_test.go
  internal/controllers/ippolicy_controller.go
  internal/controllers/tcpedge_controller.go
  internal/ngrokapi/clientset.go
  main.go
Labels: area/controller, area/helm-chart

#120 Document Ingress annotations
  docs/annotations.md
Labels: documentation

#117 Add nested Clientsets for manipulating Route Modules
  internal/controllers/httpsedge_controller.go
  internal/controllers/tcpedge_controller.go
  internal/ngrokapi/clientset.go
  internal/ngrokapi/clientset_test.go
  internal/ngrokapi/edge_modules_clientset.go
  internal/ngrokapi/edge_modules_https.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
  main.go
Labels: area/controller

#121 Header route modules support
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/annotations/compression/compression.go
  internal/annotations/compression/compression_test.go
  internal/annotations/headers/headers.go
  internal/annotations/headers/headers_test.go
  internal/annotations/ip_policies/ip_policy.go
  internal/annotations/parser/parser.go
  internal/annotations/testutil/ingress.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller.go
  internal/controllers/ingress_controller_test.go
  internal/controllers/tcpedge_controller.go
Labels: area/controller, area/helm-chart

#124 Remove routes that are no longer in the spec.
  internal/controllers/httpsedge_controller.go
Labels: area/controller

#125 Allow setting minimum TLS Version
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/annotations.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  internal/annotations/annotations.go
  internal/annotations/tls/tls.go
  internal/annotations/tls/tls_test.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller.go
  internal/controllers/ingress_controller_test.go
Labels: documentation, area/controller, area/helm-chart

#122 Webhook verification route module support
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/annotations.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  internal/annotations/annotations.go
  internal/annotations/webhook_verification/webhook_verification.go
  internal/annotations/webhook_verification/webhook_verification_test.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller.go
Labels: documentation, area/controller, area/helm-chart
