Repository ngrok/ngrok-operator, pull requests merged in 2023-10, with the labels that each got.

#295 fix: lowercase ngrok in helm NOTES.txt
  helm/ingress-controller/templates/NOTES.txt
Labels: area/helm-chart

#314 tunneldriver: add Renegotiation to forwarding tls config
  pkg/tunneldriver/driver.go
Labels: area/controller

#313 docs: document TLS and TCP edges
  docs/developer-guide/internal-crds.md
  docs/user-guide/crds.md
  docs/user-guide/tcp-edge.md
  docs/user-guide/tcp-tls-edges.md
Labels: documentation

#315 controller: release version 0.9.2
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#316 fix: update docs links for new docs site
  api/v1alpha1/ngrok_common.go
  docs/deployment-guide/ngrok-regions.md
  docs/developer-guide/internal-crds.md
  docs/user-guide/crds.md
  docs/user-guide/ingress-to-edge-relationship.md
  docs/user-guide/ip-restrictions.md
  docs/user-guide/route-modules.md
  docs/user-guide/tcp-tls-edges.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  manifest-bundle.yaml
Labels: documentation, area/controller, area/helm-chart

#318 feat: Prompt for additional info in issues template
  .github/ISSUE_TEMPLATE/controller_bug_report.yaml
Labels: meta/project

#319 Reconcile IP policy rules
  e2e-fixtures/route-modules/route-modules.yaml
  helm/ingress-controller/Chart.lock
  internal/controllers/ippolicy_controller.go
Labels: area/controller, area/helm-chart

#320 Release controller v0.10.1
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release
