Repository ngrok/ngrok-operator, pull requests merged in 2023-05, with the labels that each got.

#216 Make subdomain replaceable with env variable
  docs/examples/hello-world/manifests.yaml
Labels: documentation

#222 fix: Add support for named service ports in Ingress Backend Services
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controllers/ingress_controller.go
  internal/store/cachestores.go
  internal/store/driver.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/testutility.go
Labels: bug, area/controller, area/helm-chart

#224 :tada: Controller Version 0.7.0 :tada:
  CHANGELOG.md
  VERSION
Labels: area/release

#225 :tada: Cut Helm chart 0.9.0 release :tada:
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#227 misc: add direnv and a nix devshell
  .envrc
  .gitignore
  docs/developer-guide/README.md
  flake.lock
  flake.nix
Labels: documentation

#229 resolve some linter warnings
  internal/controllers/domain_controller.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller_test.go
  internal/controllers/ippolicy_controller.go
  internal/controllers/tcpedge_controller.go
  internal/controllers/tunnel_controller.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#228 tunneldriver: plumb the version through ngrok-go
  go.mod
  go.sum
  pkg/tunneldriver/driver.go
Labels: area/controller

#241 validate ip restriction rules, before creating the route
  internal/controllers/httpsedge_controller.go
  internal/controllers/utils.go
Labels: area/controller
