Repository ngrok/ngrok-operator, pull requests merged in 2023-02, with the labels that each got.

#127 Look up IP Policies by Name
  api/v1alpha1/ngrok_common.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/annotations.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  internal/annotations/annotations_test.go
  internal/annotations/ip_policies/ip_policy.go
  internal/annotations/ip_policies/ip_policy_test.go
  internal/controllers/httpsedge_controller.go
  internal/controllers/ingress_controller_test.go
  internal/controllers/tcpedge_controller.go
  internal/controllers/utils.go
Labels: documentation, area/controller, area/helm-chart

#128 Small updates to the makefile and e2e files for testing ingress classes
  Makefile
  examples/ingress-class/ingress-class.yaml
  scripts/e2e.sh
Labels: testing

#130 Alex/store driver
  go.mod
  go.sum
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/store_test.go
  internal/store/testutility.go
Labels: area/controller

#131 Alex/configure driver
  examples/hello-world-ingress/hello-world-ingress.yaml
  examples/hello-world-namespaced/hello-world-namespaced.yaml
  examples/ingress-class/ingress-class.yaml
  examples/multiple-paths/multiple-paths.yaml
  examples/route-modules/route-modules.yaml
  internal/controllers/ingress_controller.go
  internal/controllers/main.go
  internal/controllers/predicate_filters.go
  internal/store/updatestorehandler.go
  main.go
  scripts/e2e.sh
Labels: testing, area/controller

#143 Alex/oauth docs construction
  docs/oauth.md
Labels: documentation

#141 rename examples folder to e2e-fixtures
  .gitignore
  README.md
  e2e-fixtures/hello-world-ingress/EXAMPLE-config.yaml
  e2e-fixtures/hello-world-ingress/e2e-expected.yaml
  e2e-fixtures/hello-world-ingress/hello-world-ingress.yaml
  e2e-fixtures/hello-world-ingress/kustomization.yaml
  e2e-fixtures/hello-world-namespaced/EXAMPLE-config.yaml
  e2e-fixtures/hello-world-namespaced/e2e-expected.yaml
  e2e-fixtures/hello-world-namespaced/hello-world-namespaced.yaml
  e2e-fixtures/hello-world-namespaced/kustomization.yaml
  e2e-fixtures/ingress-class/EXAMPLE-config-different.yaml
  e2e-fixtures/ingress-class/EXAMPLE-config.yaml
  e2e-fixtures/ingress-class/e2e-expected.yaml
  e2e-fixtures/ingress-class/ingress-class.yaml
  e2e-fixtures/ingress-class/kustomization.yaml
  e2e-fixtures/multiple-paths/EXAMPLE-config.yaml
  e2e-fixtures/multiple-paths/NOOP-config-pathtest.yaml
  e2e-fixtures/multiple-paths/e2e-expected.yaml
  e2e-fixtures/multiple-paths/kustomization.yaml
  e2e-fixtures/multiple-paths/multiple-paths.yaml
  e2e-fixtures/route-modules/EXAMPLE-config.yaml
  e2e-fixtures/route-modules/kustomization.yaml
  e2e-fixtures/route-modules/route-modules.yaml
  scripts/e2e.sh
Labels: testing

#138 Alex/update release docs rename
  .github/workflows/docker.yaml
  api/v1alpha1/ngrok_common.go
  docs/releases.md
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_domains.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ippolicies.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
Labels: documentation, area/controller, area/helm-chart, area/release, area/ci

#137 Alex/driver full usage
  docs/.gitkeep
  docs/ingress-to-edge-relationship.md
  internal/controllers/ingress_controller.go
  internal/controllers/ingress_controller_test.go
  internal/controllers/utils.go
  scripts/e2e.sh
Labels: documentation, testing, area/controller

#140 Only apply an update to the domain if its actually different
  api/v1alpha1/domain_types.go
  internal/controllers/domain_controller.go
Labels: area/controller

#162 Alex/fix ingress status
  internal/store/driver.go
  internal/store/driver_test.go
Labels: area/controller

#160 Default the region to the closest geographic location
  README.md
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/agent-config-cm.yaml
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/agent-config-cm_test.yaml
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/values.yaml
  main.go
Labels: area/controller, area/helm-chart

#157 Alex/watch single namespace
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/values.yaml
  main.go
Labels: area/controller, area/helm-chart

#159 Make controller name configurable so multiple can be installed in a c…
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/templates/ingress-class.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/values.yaml
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/store_test.go
  internal/store/testutility.go
  main.go
Labels: area/controller, area/helm-chart

#156 Alex/custom meta data
  Makefile
  api/v1alpha1/domain_types.go
  api/v1alpha1/httpsedge_types.go
  api/v1alpha1/httpsedge_types_test.go
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/agent-config-cm_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/values.yaml
  internal/controllers/domain_controller.go
  internal/controllers/httpsedge_controller.go
  internal/store/driver.go
  main.go
Labels: area/controller, area/helm-chart
