Repository ngrok/ngrok-operator, pull requests merged in 2024-02, with the labels that each got.

#334 add policy module
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/ngrokapi/edge_modules_https.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart

#338 add missing policy deepcopy
  api/ingress/v1alpha1/zz_generated.deepcopy.go
Labels: area/controller

#342 domain controller: run a driver sync after updating
  helm/ingress-controller/Chart.lock
  internal/controller/ingress/ingress_controller.go
  internal/store/updatestorehandler.go
Labels: area/controller, area/helm-chart

#344 Release controller 0.10.2 and helm chart 0.12.2
  CHANGELOG.md
  VERSION
  docs/developer-guide/releasing.md
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: documentation, area/helm-chart, area/release
