Repository ngrok/ngrok-operator, pull requests merged in 2024-12, with the labels that each got.

#525 add agentendpoint crd
  api/ngrok/v1alpha1/agentendpoint_types.go
  api/ngrok/v1alpha1/cloudendpoint_types.go
  api/ngrok/v1alpha1/common_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_agentendpoints.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
Labels: area/controller, area/helm-chart

#537 skip no-op status and annotation updates for boundendpoint reconciliation
  internal/controller/bindings/boundendpoint_controller.go
Labels: area/controller

#535 Checkout fork PR HEAD for e2e tests
  .github/workflows/test.yaml
Labels: area/ci

#538 agent endpoints work continued
  api/common/v1alpha1/common_types.go
  api/ingress/v1alpha1/tunnel_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  api/ngrok/v1alpha1/agentendpoint_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/agent/main.go
  go.mod
  go.sum
  helm/ngrok-operator/templates/agent/rbac.yaml
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_tunnels.yaml
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/rbac_test.yaml.snap
  internal/controller/agent/agent_endpoint_controller.go
  internal/pb_agent/conn_header.pb.go
  internal/store/driver.go
  pkg/tunneldriver/driver.go
  pkg/tunneldriver/driver_test.go
Labels: area/controller, area/helm-chart, safe to test

#542 feat: Use a merge group for e2e tests
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Labels: area/ci

#544 fix endpoint url validation helper and add tests
  internal/controller/agent/agent_endpoint_controller.go
  pkg/tunneldriver/driver.go
  pkg/tunneldriver/utils.go
  pkg/tunneldriver/utils_test.go
Labels: area/controller, safe to test

#543 fix(agent-endpoints): Delete agent endpoint instead of tunnel
  internal/controller/agent/agent_endpoint_controller.go
Labels: area/controller

#548 remove boilerplate type field from trafficPolicy field
  api/ngrok/v1alpha1/agentendpoint_types.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_agentendpoints.yaml
  internal/controller/agent/agent_endpoint_controller.go
Labels: area/controller, area/helm-chart, safe to test

#547 make protocol optional for agentendpoint upstreams
  api/ngrok/v1alpha1/agentendpoint_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_agentendpoints.yaml
  pkg/tunneldriver/driver.go
Labels: area/controller, area/helm-chart, safe to test

#546 :tada: Release controller 0.14.0 and helm chart 0.17.0-rc.1 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#549 Fix http endpoint scheme
  pkg/tunneldriver/driver.go
Labels: bug, area/controller

#550 :tada: Release controller 0.14.1 and helm chart 0.17.0-rc.2 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#553 refactor: store driver
  cmd/api/main.go
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/moduleset_controller.go
  internal/controller/ingress/service_controller.go
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/store/store_test.go
  internal/testutils/controller.go
  internal/testutils/k8s-resources.go
  pkg/managerdriver/controller-handler.go
  pkg/managerdriver/domains.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/tunnels.go
Labels: area/controller, safe to test

#552 fix(service-controller): Service controller uses configured cluster domain
  api/common/v1alpha1/common_types.go
  cmd/api/main.go
  internal/controller/ingress/service_controller.go
  pkg/managerdriver/driver.go
Labels: bug, area/controller

#558 fix(helm): .Values.podLabels should not be included in the deployment selectors
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/agent/deployment_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/deployment_test.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: bug, area/helm-chart

#559 feat(helm): Add support for nodeSelectors, tolerations, and topologyS…
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/agent/deployment_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/deployment_test.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: enhancement, area/helm-chart
