Repository ngrok/ngrok-operator, pull requests merged in 2024-01, with the labels that each got.

#326 migrate kubebuilder v3 to v4
  Makefile
  PROJECT
  cmd/main.go
  flake.nix
  internal/controller/base_controller.go
  internal/controller/domain_controller.go
  internal/controller/httpsedge_controller.go
  internal/controller/httpsedge_controller_test.go
  internal/controller/ingress_controller.go
  internal/controller/ingress_controller_test.go
  internal/controller/ippolicy_controller.go
  internal/controller/ippolicy_controllers_test.go
  internal/controller/moduleset_controller.go
  internal/controller/non_leader_elected_controller.go
  internal/controller/non_leader_elected_controller_test.go
  internal/controller/predicate_filters.go
  internal/controller/tcpedge_controller.go
  internal/controller/tlsedge_controller.go
  internal/controller/tunnel_controller.go
  internal/controller/utils.go
Labels: area/controller

#333 update icon to pull from helm http
  helm/ingress-controller/Chart.yaml
Labels: area/helm-chart, area/release

#327 migrate to multigroup
  Makefile
  PROJECT
  api/ingress/v1alpha1/domain_types.go
  api/ingress/v1alpha1/groupversion_info.go
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/httpsedge_types_test.go
  api/ingress/v1alpha1/ippolicy_types.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/tunnel_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  internal/annotations/annotations.go
  internal/annotations/compression/compression.go
  internal/annotations/compression/compression_test.go
  internal/annotations/headers/headers.go
  internal/annotations/ip_policies/ip_policy.go
  internal/annotations/ip_policies/ip_policy_test.go
  internal/annotations/tls/tls.go
  internal/annotations/webhook_verification/webhook_verification.go
  internal/annotations/webhook_verification/webhook_verification_test.go
  internal/controller/ingress/base_controller.go
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/httpsedge_controller_test.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/ingress_controller_test.go
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/ippolicy_controllers_test.go
  internal/controller/ingress/moduleset_controller.go
  internal/controller/ingress/non_leader_elected_controller.go
  internal/controller/ingress/non_leader_elected_controller_test.go
  internal/controller/ingress/predicate_filters.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ingress/tunnel_controller.go
  internal/controller/ingress/utils.go
  internal/store/cachestores.go
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/store.go
  internal/store/testutility.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#328 init gateway api
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  PROJECT
  cmd/main.go
  flake.lock
  flake.nix
  go.mod
  go.sum
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/suite_test.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ingress/tunnel_controller.go
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/updatestorehandler.go
  scripts/preflight.sh
Labels: area/controller, area/helm-chart, area/ci

#336 Lowercase domain name in helm NOTES.txt
  helm/ingress-controller/templates/NOTES.txt
Labels: area/helm-chart
