Repository ngrok/ngrok-operator, pull requests merged in 2024-04, with the labels that each got.

#357 add gateway to client info comment
  cmd/main.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#358 set metadata for edges created by the gateway
  internal/store/driver.go
Labels: area/controller

#360 support for async session creation
  cmd/main.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#362 helm: add apiURL option
  cmd/main.go
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/values.yaml
Labels: area/controller, area/helm-chart

#363 helm: bump to version 0.12.4
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#361 create policy kind
  Makefile
  PROJECT
  api/ngrok/v1alpha1/groupversion_info.go
  api/ngrok/v1alpha1/ngroktrafficpolicy_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/rbac/ngrok_ngroktrafficpolicy_editor_role.yaml
  config/rbac/ngrok_ngroktrafficpolicy_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/ngrok_v1alpha1_ngroktrafficpolicy.yaml
  helm/ingress-controller/templates/crds/ngrok.k8s.ngrok.com_ngroktrafficpolicies.yaml
  helm/ingress-controller/templates/crds/ngrok.k8s.ngrok.com_policies.yaml
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
Labels: area/controller, area/helm-chart

#364 initial policy controller update
  Makefile
  api/ngrok/v1alpha1/ngroktrafficpolicy_types.go
  cmd/main.go
  config/crd/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/rbac/ngrok_ngroktrafficpolicy_editor_role.yaml
  config/rbac/ngrok_ngroktrafficpolicy_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/ngrok_v1alpha1_ngroktrafficpolicy.yaml
  helm/ingress-controller/templates/crds/ngrok.k8s.ngrok.com_ngroktrafficpolicies.yaml
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/controller/ngrok/policy_predicates.go
Labels: area/controller, area/helm-chart

#368 switch edge kinds to raw json policy
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/ngrokapi/edge_modules_https.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart
