Repository ngrok/ngrok-operator, pull requests merged in 2024-05, with the labels that each got.

#370 modules to traffic policy
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/templates/crds/ngrok.k8s.ngrok.com_policies.yaml
  internal/annotations/annotations.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/store/cachestores.go
  internal/store/driver.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/testutility.go
Labels: area/controller, area/helm-chart

#374 fix: panics in oauth providers
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/ngrok_common_test.go
  internal/controller/ingress/httpsedge_controller.go
Labels: bug, area/controller

#373 feat: Add support for mutualTLS
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/httpsedge_types_test.go
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  docs/user-guide/route-modules.md
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controller/ingress/httpsedge_controller.go
  internal/store/driver.go
Labels: documentation, area/controller, area/helm-chart

#376 Add GatewayClass to cachestore
  internal/store/cachestores.go
  internal/store/driver.go
Labels: area/controller

#377 Add extensionRef support for policy crd inclusion
  internal/store/driver.go
  internal/store/driver_test.go
Labels: area/controller

#371 root-cas setting
  cmd/main.go
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/values.yaml
  pkg/tunneldriver/driver.go
Labels: area/controller, area/helm-chart

#379 Update nix flake, go version, and Makefile dep versions
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  flake.lock
  flake.nix
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_domains.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ippolicies.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tunnels.yaml
  helm/ingress-controller/templates/crds/ngrok.k8s.ngrok.com_ngroktrafficpolicies.yaml
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  scripts/preflight.sh
Labels: area/controller, area/helm-chart, area/ci

#380 Handle non-existent backend IDs more gracefully
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
Labels: bug, area/controller

#381 fix: Bump ngrok-api-go version
  go.mod
  go.sum
Labels: bug

#382 :tada: Release controller version 0.11.0 and helm chart 0.13.0 :tada:
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/controller, area/helm-chart, area/release

#383 chore: Remove custom code for non leader-elected controllers
  internal/controller/ingress/non_leader_elected_controller.go
  internal/controller/ingress/non_leader_elected_controller_test.go
  internal/controller/ingress/tunnel_controller.go
Labels: area/controller

#384 refactor: annotations parsers to handle client.Object instead of just networking.Ingress
  internal/annotations/annotations.go
  internal/annotations/compression/compression.go
  internal/annotations/headers/headers.go
  internal/annotations/ip_policies/ip_policy.go
  internal/annotations/parser/parser.go
  internal/annotations/tls/tls.go
  internal/annotations/webhook_verification/webhook_verification.go
Labels: area/controller, refactor

#385 chore: Turn on golangci-lint
  .github/workflows/ci.yaml
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/ippolicy_controllers_test.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/store/driver_test.go
  internal/store/store.go
  internal/store/store_test.go
  pkg/tunneldriver/driver.go
Labels: area/controller, area/ci

#386 feat: Auto-provision domain for TLS Edges
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/tlsedge_controller.go
Labels: area/controller, area/helm-chart

#387 feat: Support for Load Balancer services
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  docs/examples/external-dns/README.md
  docs/user-guide/services.md
  go.mod
  go.sum
  hack/boilerplate.go.txt
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/ingress/service_controller.go
  internal/controller/ingress/service_controller_test.go
  internal/controller/ingress/tcpedge_controller.go
  internal/store/driver.go
Labels: documentation, area/controller, area/helm-chart

#390 fix: TLSEdge not reconciling changes to hostports
  internal/controller/ingress/tlsedge_controller.go
Labels: bug, area/controller

#393 assign tunnel group lable by httproute namespace
  internal/store/driver.go
Labels: area/controller

#389 docs: Add note about external-dns policy and dns issues
  docs/examples/external-dns/README.md
Labels: documentation

#388 feat: Support TLS termination in modulesets for Load Balancer Services
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/zz_generated.deepcopy.go
  helm/ingress-controller/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  internal/controller/ingress/service_controller.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart
