Repository ngrok/ngrok-operator, pull requests merged in 2024-09, with the labels that each got.

#420 chore(helm): Update docs and chart icon
  .github/workflows/install-relased-helm.yaml
  README.md
  docs/developer-guide/releasing.md
  docs/examples/hello-world/README.md
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/README.md
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: documentation, area/helm-chart, area/release, area/ci

#423 Add announcements for project rename
  README.md
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/templates/NOTES.txt
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#425 Add support for .envrc-user
  .envrc
  .gitignore
  docs/developer-guide/README.md
Labels: documentation

#424 Add feature flag support for bindings
  Makefile
  cmd/main.go
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/values.yaml
Labels: area/controller, area/helm-chart

#429 Update CODEOWNERS
  .github/CODEOWNERS
Labels: meta/project

#432 Set default for apiURL
  cmd/main.go
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.yaml
Labels: area/controller, area/helm-chart

#437 Update RBAC helm templates
  helm/ngrok-operator/templates/rbac/httpsedge_editor_role.yaml
  helm/ngrok-operator/templates/rbac/httpsedge_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/ippolicy_editor_role.yaml
  helm/ngrok-operator/templates/rbac/ippolicy_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/ngrokmoduleset_editor_role.yaml
  helm/ngrok-operator/templates/rbac/ngrokmoduleset_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/tcpedge_editor_role.yaml
  helm/ngrok-operator/templates/rbac/tcpedge_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/tlsedge_editor_role.yaml
  helm/ngrok-operator/templates/rbac/tlsedge_viewer_role.yaml
  scripts/helm-setup.sh
Labels: area/helm-chart

#439 fix(docs): Change helm install to be from kubernetes-ingress-controller
  README.md
Labels: documentation

#440 Add internal/healthcheck
  cmd/main.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  pkg/tunneldriver/driver.go
Labels: area/controller
