Repository ngrok/ngrok-operator, pull requests merged in 2024-10, with the labels that each got.

#441 Separate featuresets
  cmd/main.go
  helm/ngrok-operator/templates/controller-deployment.yaml
Labels: area/controller, area/helm-chart

#442 Namespace Helm Values by Feature Set
  cmd/main.go
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/templates/ingress-class.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/tests/ingress-class_test.yaml
  helm/ngrok-operator/values.yaml
Labels: area/controller, area/helm-chart

#448 Update template to use the correctly cased values property for allowed urls
  helm/ngrok-operator/templates/binding-configuration.yaml
  helm/ngrok-operator/tests/__snapshot__/binding-configuration_test.yaml.snap
Labels: bug, area/helm-chart

#449 Create a runnable that polls the api and creates crds using a mock api for now
  cmd/main.go
  internal/controller/bindings/bindingconfiguration_controller.go
  internal/controller/bindings/endpointbinding_poller.go
Labels: area/controller

#450 feat: Initial bindings driver
  pkg/bindingsdriver/driver.go
  pkg/bindingsdriver/driver_test.go
Labels: area/controller

#451 feat: Add in v6 ngrok-api-go client
  go.mod
  go.sum
  internal/ngrokapi/clientset.go
Labels: area/controller

#452 Modify EndpointBinding CRD to reflect cardinality of bound Endpoints
  api/bindings/v1alpha1/endpointbinding_types.go
  api/bindings/v1alpha1/zz_generated.deepcopy.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  internal/controller/bindings/endpointbinding_poller.go
Labels: area/controller, area/helm-chart

#453 Implement AggregateBindingEndpoints for interacting with the ngrok api
  api/bindings/v1alpha1/bindingconfiguration_types.go
  api/bindings/v1alpha1/endpointbinding_types.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
Labels: area/controller, area/helm-chart

#455 feat(ci): Add gofmt to lints
  .github/labeler.yml
  .golangci.yml
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
Labels: area/controller, area/ci

#458 Implement BindingEndpoint polling
  api/bindings/v1alpha1/endpointbinding_types.go
  cmd/api/main.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  internal/controller/bindings/endpointbinding_poller.go
  internal/controller/bindings/endpointbinding_poller_test.go
Labels: area/controller, area/helm-chart

#457 Register operator
  PROJECT
  api/bindings/v1alpha1/bindingconfiguration_types.go
  api/bindings/v1alpha1/endpointbinding_types.go
  api/bindings/v1alpha1/zz_generated.deepcopy.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/api/main.go
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings/configuration.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/templates/controller-rbac.yaml
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_bindingconfigurations.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings/__snapshot__/configuration_test.yaml.snap
  helm/ngrok-operator/tests/bindings/configuration_test.yaml
  helm/ngrok-operator/tests/controller-rbac_test.yaml
  internal/controller/base_controller.go
  internal/controller/bindings/bindingconfiguration_controller.go
  internal/controller/bindings/bindingconfiguration_controller_test.go
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/tls_secret_controller.go
  internal/controller/bindings/tls_secret_controller_test.go
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/controller/ngrok/kubernetsoperator_controller_test.go
  internal/controller/ngrok/operatorconfiguration.go
  internal/util/k8s.go
Labels: area/controller, area/helm-chart

#459 Implement EndpointBinding -> Services creation
  api/bindings/v1alpha1/endpointbinding_types.go
  cmd/api/main.go
  go.mod
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/base_controller.go
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/endpointbinding_controller_test.go
  internal/controller/bindings/endpointbinding_poller.go
  internal/controller/bindings/endpointbinding_poller_test.go
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
  internal/util/maps.go
  internal/util/maps_test.go
Labels: area/controller, area/helm-chart

#460 Implement port allocation
  api/bindings/v1alpha1/endpointbinding_types.go
  cmd/api/main.go
  go.mod
  go.sum
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/endpointbinding_controller_test.go
  internal/controller/bindings/endpointbinding_poller.go
  internal/controller/bindings/port_allocator.go
  internal/controller/bindings/port_allocator_test.go
Labels: area/controller, area/helm-chart

#461 Remove unused code
  api/ngrok/v1beta1/groupversion_info.go
  api/ngrok/v1beta1/operatorconfiguration_types.go
  api/ngrok/v1beta1/zz_generated.deepcopy.go
  cmd/agent/main.go
  cmd/api/main.go
Labels: area/controller

#463 Delete more unused code
  PROJECT
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_operatorconfigurations.yaml
Labels: area/helm-chart

#462 Standardize logging pattern using ctrl.LoggerFrom(ctx)
  internal/controller/base_controller.go
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/endpointbinding_controller_test.go
  internal/controller/bindings/endpointbinding_poller.go
  internal/controller/bindings/endpointbinding_poller_test.go
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/service_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller

#466 chore: Update readme-generator
  .github/workflows/generate-chart-readme.yaml
  helm/ngrok-operator/README.md
Labels: area/helm-chart, area/ci

#465 Bindings forwarder
  Dockerfile
  Makefile
  cmd/api/main.go
  cmd/bindings-forwarder/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/_helpers.tpl
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/rbac.yaml
  helm/ngrok-operator/templates/bindings-forwarder/service-account.yaml
  helm/ngrok-operator/tests/agent/service-account_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/rbac_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/deployment_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/rbac_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/service-account_test.yaml
  helm/ngrok-operator/tests/credentials-secret_test.yaml
  helm/ngrok-operator/values.yaml
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/endpointbinding_controller_test.go
  internal/controller/bindings/forwarder_controller.go
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller, area/helm-chart

#464 Add endpoint status to EndpointBinding kubectl output
  api/bindings/v1alpha1/endpointbinding_types.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/bindings/endpointbinding_controller_test.go
  internal/controller/bindings/endpointbinding_poller.go
Labels: area/controller, area/helm-chart

#469 fix: Make sure that we can't connect after we stop the bindings listener
  pkg/bindingsdriver/driver.go
  pkg/bindingsdriver/driver_test.go
Labels: area/controller

#467 Add status to KubernetesOperator
  api/bindings/v1alpha1/endpointbinding_types.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  internal/controller/base_controller.go
  internal/controller/bindings/endpointbinding_controller.go
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller, area/helm-chart

#470 Ensure endpoint poller does not start until k8sop is regestered with API
  cmd/api/main.go
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/bindings/endpointbinding_poller.go
Labels: area/controller, area/helm-chart

#456 update traffic policy for phase-based naming
  api/ingress/v1alpha1/domain_types.go
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/httpsedge_types_test.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  cmd/api/main.go
  go.mod
  go.sum
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_httpsedges.yaml
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_tcpedges.yaml
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  internal/controller/base_controller.go
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/httpsedge_controller_test.go
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/ippolicy_controllers_test.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/events/events.go
  internal/ngrokapi/clientset.go
  internal/ngrokapi/clientset_test.go
  internal/ngrokapi/edge_modules_clientset.go
  internal/ngrokapi/edge_modules_https.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
  internal/store/driver.go
  internal/store/driver_test.go
  internal/util/traffic_policy.go
  internal/util/traffic_policy_test.go
Labels: area/controller, area/helm-chart

#473 Use correct import to fix status updates
  api/bindings/v1alpha1/endpointbinding_types.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_endpointbindings.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  internal/controller/base_controller.go
Labels: area/controller, area/helm-chart

#475 Rename EndpointBinding to BoundEndpoint
  PROJECT
  api/bindings/v1alpha1/boundendpoint_types.go
  api/bindings/v1alpha1/zz_generated.deepcopy.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  cmd/api/main.go
  helm/ngrok-operator/templates/bindings-forwarder/rbac.yaml
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_boundendpoints.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  helm/ngrok-operator/templates/rbac/boundendpoint_editor_role.yaml
  helm/ngrok-operator/templates/rbac/boundendpoint_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/rbac_test.yaml.snap
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_controller_test.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
  internal/controller/bindings/forwarder_controller.go
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
Labels: area/controller, area/helm-chart

#472 Generate and commit schema.json file
  .gitattributes
  .github/workflows/generate-chart-readme.yaml
  helm/ngrok-operator/Makefile
  helm/ngrok-operator/README.md
  helm/ngrok-operator/tests/controller-pdb_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: area/helm-chart, area/ci

#477 Implement Target Metadata
  cmd/api/main.go
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
  internal/util/helm.go
  internal/util/helm_test.go
Labels: area/controller, area/helm-chart

#471 Allow configuring ngrok Cloud Endpoints using CRDs
  api/ingress/v1alpha1/domain_types.go
  api/ngrok/v1alpha1/cloudendpoint_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/api/main.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
  helm/ngrok-operator/templates/rbac/cloudendpoint_editor_role.yaml
  helm/ngrok-operator/templates/rbac/cloudendpoint_viewer_role.yaml
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/binding-configuration_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/controller/ngrok/cloudendpoint_controller_test.go
  internal/ngrokapi/clientset.go
  internal/store/driver.go
Labels: area/controller, area/helm-chart
