Repository ngrok/ngrok-operator, pull requests merged in 2024-11, with the labels that each got.

#480 Ensure KubernetesOperator.Status.EnabledFeatures is set properly from the API
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller

#482 Add equality tests for Target.Metadata
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
Labels: area/controller

#481 feat: BoundEndpointPoller polls from the API
  cmd/api/main.go
  go.mod
  go.sum
  internal/controller/bindings/boundendpoint_poller.go
Labels: area/controller

#483 fix: Add nil checks to prevent potential panics
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller

#479 Add better error handling and logging for misconfigured ingress and i…
  internal/controller/ingress/ingress_controller.go
  internal/errors/errors.go
  internal/store/driver.go
  internal/store/store.go
  internal/store/store_test.go
Labels: area/controller

#484 fix: Add GatewayClass controller
  .github/workflows/ci.yaml
  cmd/api/main.go
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/gateway/gatewayclass_controller.go
  internal/controller/gateway/gatewayclass_controller_test.go
  internal/controller/gateway/suite_test.go
  internal/controller/gateway/testdata/gatewayapi-crds.yaml
Labels: area/controller, area/helm-chart, area/ci

#485 :tada: Release controller 0.13.0 and helm chart 0.16.0-rc.1 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#487 Temporarily vendor ngrok intermediate CA for bindings
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/bindings-forwarder/configmap.ngrok-prod-ca.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: area/helm-chart

#488 fix: domain stuck when ID is not found
  internal/controller/base_controller.go
  internal/controller/ingress/domain_controller.go
Labels: bug, area/controller

#486 Ensure the TLS secret is valid otherwise upsert
  cmd/api/main.go
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller

#489 Use unique context for endpoint poller reconcile actions
  internal/controller/bindings/boundendpoint_poller.go
Labels: area/controller

#493 fix: Make sure we update the status
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: bug, area/controller

#494 Add more logging for binding forwarder mux handshake
  internal/mux/header.go
Labels: area/controller

#495 fix: Better migration path from the ngrok kuberntes-ingress-controller to the ngrok-operator
  cmd/api/main.go
  internal/store/driver.go
Labels: bug, area/controller

#492 :tada: Release controller 0.13.1 and helm chart 0.16.0-rc.2 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#443 Update issue templates for ngrok Kubernetes Operator rename
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/helm_bug_report.yaml
  .github/ISSUE_TEMPLATE/operator_bug_report.yaml
Labels: meta/project

#496 Support allowedURLs
  api/bindings/v1alpha1/boundendpoint_types.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  cmd/api/main.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_boundendpoints.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.yaml
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
Labels: area/controller, area/helm-chart

#501 fix: Clear status and re-reconcile if httpsedge is not found
  internal/controller/ingress/httpsedge_controller.go
Labels: bug, area/controller

#500 Use the previously ingress in the error messages
  internal/controller/ingress/ingress_controller.go
Labels: area/controller

#504 Hide ngrok-op API registration behind bindings feature flag
  cmd/api/main.go
Labels: area/controller

#503 Support one-click-demo mode
  cmd/api/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/agent/deployment_test.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: area/controller, area/helm-chart

#505 Release ngrok-operator-0.13.3 helm-0.16.0
  .github/workflows/helm_release.yaml
  CHANGELOG.md
  VERSION
  docs/developer-guide/releasing.md
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: documentation, area/helm-chart, area/release, area/ci

#507 Automate releases
  .github/workflows/helm_release.yaml
  Makefile
  docs/developer-guide/releasing.md
  scripts/release.sh
Labels: documentation, area/ci

#508 Update NOTES.txt for new feature sets
  helm/ngrok-operator/templates/NOTES.txt
Labels: area/helm-chart

#511 Release ngrok-operator-0.13.4 helm-chart-0.16.1
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#514 Add gpg Helm chart signing
  .github/workflows/helm_release.yaml
Labels: area/ci

#517 Release ngrok-operator-0.13.5 helm-chart-0.16.2
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#519 Release ngrok-operator-0.13.6 helm-chart-0.16.3
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#521 Release ngrok-operator-0.13.7 helm-chart-0.16.4
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#524 Error with invalid API key
  cmd/api/main.go
  pkg/tunneldriver/driver.go
Labels: area/controller

#506 feat: add chainsaw based e2e tests
  .github/actions/build-and-test/action.yaml
  .github/actions/changes/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  Makefile
  flake.lock
  flake.nix
  tests/chainsaw/finalizers/chainsaw-test.yaml
  tests/chainsaw/finalizers/ingress.yaml
  tests/chainsaw/sanity-checks/agent-pod.yaml
  tests/chainsaw/sanity-checks/chainsaw-test.yaml
  tests/chainsaw/sanity-checks/ingress-class.yaml
  tests/chainsaw/sanity-checks/ngrok-operator-credentials.yaml
  tests/chainsaw/sanity-checks/ngrok-operator-manager-config.yaml
  tests/chainsaw/sanity-checks/operator-pod.yaml
Labels: area/ci

#527 fix: Re-create tunnel if forwardsTo or appProto changes
  pkg/tunneldriver/driver.go
Labels: bug, area/controller

#526 e2e updates / fixes 1
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Labels: area/ci

#528 Trigger ci e2e with Makefile change
  .github/actions/build-and-test/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  Makefile
Labels: area/ci

#531 Ensure build-and-test runs on push events
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Labels: area/ci
