Repository ngrok/ngrok-operator, pull requests merged in 2024-08, with the labels that each got.

#402 Add a contributing guide
  docs/CONTRIBUTING.md
  helm/ingress-controller/Chart.lock
Labels: documentation, area/helm-chart

#404 fix: Deleting ngrok LoadBalancer services hanging
  internal/controller/ingress/service_controller.go
Labels: bug, area/controller

#406 fix(service-controller): Updates not working
  helm/ingress-controller/Chart.lock
  internal/controller/ingress/service_controller.go
Labels: bug, area/controller, area/helm-chart

#407 :tada: Release controller 0.12.1 and helm chart 0.14.1 :tada:
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/controller, area/helm-chart, area/release

#409 chore: Clean up predicate filters
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/moduleset_controller.go
  internal/controller/ingress/predicate_filters.go
  internal/controller/ingress/tunnel_controller.go
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/controller/ngrok/policy_predicates.go
Labels: area/controller, refactor

#411 refactor: Easier to read driver seed
  go.mod
  internal/store/driver.go
  internal/store/driver_test.go
  internal/util/k8s.go
  internal/util/k8s_test.go
Labels: area/controller

#413 fix(store): Multiple ingress rules per ingress not working
  internal/store/store.go
  internal/store/store_test.go
Labels: area/controller

#412 feat: Support for wildcard domains
  internal/store/driver.go
Labels: area/controller

#339 Load cluster domain as a config option. Fall back to default if not set
  Makefile
  cmd/main.go
  helm/ingress-controller/README.md
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/controller-deployment_test.yaml
  helm/ingress-controller/values.yaml
  internal/store/driver.go
  internal/store/driver_test.go
Labels: area/controller, area/helm-chart

#418 feat(ci): Add a matrix style test for different versions of k8s & helm
  .github/workflows/install-relased-helm.yaml
Labels: area/ci

#419 :tada: Release controller 0.12.2 and helm chart 0.14.2 :tada:
  CHANGELOG.md
  VERSION
  helm/ingress-controller/CHANGELOG.md
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#417 chore(deps): Update go 1.22 -> 1.23
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  flake.lock
  flake.nix
  internal/controller/ingress/tcpedge_controller.go
  internal/store/store.go
  scripts/preflight.sh
Labels: area/controller, area/ci
