Repository ngrok/ngrok-operator, pull requests merged in 2024-03, with the labels that each got.

#347 implement HTTPRouteRules
  internal/controller/controllers/controller.go
  internal/controller/controllers/resolvers.go
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/ingress/base_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/store/driver.go
Labels: area/controller

#343 Gateway spins up Ngrok CRDs
  Makefile
  PROJECT
  cmd/main.go
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/templates/rbac/role.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  internal/controller/controllers/controller.go
  internal/controller/controllers/resolvers.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/ingress/base_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ingress_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ingress/utils.go
  internal/store/cachestores.go
  internal/store/driver.go
  internal/store/driver_test.go
  internal/store/store.go
Labels: area/controller, area/helm-chart

#350 Release controller 0.10.3 and helm chart 0.12.3
  CHANGELOG.md
  VERSION
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/Chart.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/ingress-class_test.yaml.snap
Labels: area/helm-chart, area/release

#354 chore: Update helm deps
  Makefile
  helm/ingress-controller/Chart.lock
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ingress-controller/tests/__snapshot__/controller-rbac_test.yaml.snap
  scripts/helm-setup.sh
Labels: area/helm-chart

#355 fix(helm): move other checksums to pod annotations
  helm/ingress-controller/templates/controller-deployment.yaml
  helm/ingress-controller/tests/__snapshot__/controller-deployment_test.yaml.snap
Labels: area/helm-chart
