Repository ngrok/ngrok-operator, pull requests merged in 2025-01, with the labels that each got.

#564 feat: Add trafficpolicy package and conversion util
  internal/errors/errors.go
  internal/secrets/resolver.go
  internal/trafficpolicy/policy.go
  internal/trafficpolicy/policy_test.go
  internal/trafficpolicy/testdata/policy-1.json
  internal/trafficpolicy/testdata/policy-2.json
  internal/util/traffic_policy.go
  internal/util/traffic_policy_test.go
Labels: area/controller

#569 fix: managerdriver tests not being run
  pkg/managerdriver/suite_test.go
Labels: area/controller

#571 feat(ci): Use codecov for coverage reports
  .github/actions/changes/action.yaml
  .github/workflows/ci.yaml
Labels: area/ci

#562 Add conversion support from ingress to endpoints
  api/common/v1alpha1/common_types.go
  api/common/v1alpha1/common_types_test.go
  internal/controller/ingress/moduleset_controller.go
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/ir/ir.go
  internal/ir/ir_test.go
  internal/store/cachestores.go
  internal/store/store.go
  internal/trafficpolicy/policy.go
  internal/trafficpolicy/policy_test.go
  internal/trafficpolicy/testdata/policy-1.json
  pkg/managerdriver/domains.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/endpoints.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
  pkg/managerdriver/tunnels.go
  pkg/managerdriver/utils.go
  pkg/managerdriver/utils_test.go
Labels: area/controller

#568 feat: Opt-in to endpoints for Load balancer Services
  api/ingress/v1alpha1/ngrok_common.go
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_ngrokmodulesets.yaml
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_tlsedges.yaml
  internal/annotations/annotations.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/service_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/resolvers.go
  internal/resolvers/ip_policy.go
  internal/resolvers/ip_policy_test.go
  internal/resolvers/secret.go
  internal/resolvers/secret_test.go
  internal/secrets/resolver.go
  internal/trafficpolicy/policy.go
  internal/util/traffic_policy.go
  internal/util/traffic_policy_test.go
Labels: area/controller, area/helm-chart

#567 Remove binding name
  api/bindings/v1alpha1/boundendpoint_types.go
  api/ingress/v1alpha1/domain_types.go
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/httpsedge_types_test.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  cmd/api/main.go
  go.mod
  go.sum
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
  internal/controller/base_controller.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/httpsedge_controller_test.go
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/ippolicy_controllers_test.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
  internal/ngrokapi/clientset.go
  internal/ngrokapi/clientset_test.go
  internal/ngrokapi/edge_modules_clientset.go
  internal/ngrokapi/edge_modules_https.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
Labels: area/controller, area/helm-chart

#573 Change allowed_urls to endpoint_selectors
  api/bindings/v1alpha1/boundendpoint_types.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  cmd/api/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_boundendpoints.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/boundendpoint_poller_test.go
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller, area/helm-chart

#574 add newly created agent endpoints to the map
  pkg/tunneldriver/driver.go
Labels: bug, area/controller

#576 fix(httpsedges): HTTPS Edges should retry on hostport already in use
  codecov.yml
  internal/controller/ingress/httpsedge_controller.go
Labels: area/controller

#579 update use endpoints annotation
  api/common/v1alpha1/common_types.go
  api/common/v1alpha1/common_types_test.go
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/controller/ingress/service_controller.go
  internal/store/store.go
  pkg/managerdriver/domains.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator_test.go
Labels: area/controller

#580 :tada: Release controller 0.14.2 and helm chart 0.17.0-rc.3 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/controller, area/helm-chart, area/release

#578 refactor(ngrokapi): Refactor ngrokapi package to better support mocking
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ippolicy_controller.go
  internal/ngrokapi/bindingendpoint_aggregator_test.go
  internal/ngrokapi/clientset.go
  internal/ngrokapi/edge_modules_clientset.go
  internal/ngrokapi/edge_modules_https_clientset.go
  internal/ngrokapi/edge_modules_tcp_clientset.go
  internal/ngrokapi/edge_modules_tls_clientset.go
Labels: area/controller

#555 Add ngrok enriched errors
  api/bindings/v1alpha1/boundendpoint_types.go
  helm/ngrok-operator/templates/crds/bindings.k8s.ngrok.com_boundendpoints.yaml
  internal/controller/base_controller.go
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_controller_test.go
  internal/controller/bindings/boundendpoint_poller_test.go
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/ngrokapi/enriched_errors.go
Labels: area/controller, area/helm-chart

#581 Endpoint pooling SDK support
  go.mod
  go.sum
  pkg/tunneldriver/driver.go
Labels: area/controller

#582 add cloud endpoint pooling support
  api/ngrok/v1alpha1/cloudendpoint_types.go
  go.mod
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/controller/ingress/service_controller.go
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/ir/ir.go
  pkg/managerdriver/testdata/translator/endpoint-ingress-default-backend-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-namespace-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-pooling-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-trafficpolicy-conflict.yaml
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
Labels: area/controller, area/helm-chart

#584 🎉 Release controller 0.14.3 and helm chart 0.17.0-rc.4 🎉
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#585 update notes.txt to reflect bindings api changes
  helm/ngrok-operator/templates/NOTES.txt
Labels: area/helm-chart
