Repository ngrok/ngrok-operator, pull requests merged in 2025-05, with the labels that each got.

#641 feat: Add a reclaimPolicy to domains
  api/ingress/v1alpha1/domain_types.go
  helm/ngrok-operator/templates/crds/ingress.k8s.ngrok.com_domains.yaml
  internal/controller/ingress/domain_controller.go
Labels: area/controller, area/helm-chart

#646 chore(testing): Add tests for Domain Reconciler
  .gitattributes
  api/ingress/v1alpha1/domain_types.go
  go.mod
  go.sum
  internal/controller/ingress/domain_controller_test.go
  internal/controller/ingress/httpsedge_controller_test.go
  internal/controller/ingress/suite_test.go
  internal/mocks/gen.go
  internal/mocks/mock_conn.go
  internal/mocks/mock_dialer.go
  internal/mocks/mock_tunnel.go
  internal/mocks/nmockapi/base_client.go
  internal/mocks/nmockapi/domain_client.go
  internal/mocks/nmockapi/domain_client_test.go
  internal/mocks/nmockapi/iter.go
  internal/mocks/nmockapi/iter_test.go
  internal/mocks/nmockapi/nmockapi_test.go
Labels: area/controller

#647 feat(cloud-endpoints): Add CloudEndpoint ID to printer column
  api/ngrok/v1alpha1/cloudendpoint_types.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
Labels: area/controller, area/helm-chart

#648 Combine binaries
  Dockerfile
  cmd/agent-manager.go
  cmd/api-manager.go
  cmd/bindings-forwarder-manager.go
  cmd/root.go
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  main.go
  tools/make/build.mk
Labels: area/controller, area/helm-chart

#650 Add gatewayclass to store
  internal/store/store.go
Labels: area/controller

#651 feat(gateway-api): Set accepted conditions on gateways & httproutes
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/gateway_controller_test.go
  internal/controller/gateway/gatewayclass_controller.go
  internal/controller/gateway/gatewayclass_controller_test.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/gateway/httproute_controller_test.go
  internal/controller/gateway/suite_test.go
  internal/testutils/k8s-resources.go
  tools/make/_common.mk
  tools/make/test.mk
Labels: area/controller

#652 update helm notes
  helm/ngrok-operator/templates/NOTES.txt
Labels: area/helm-chart

#653 feat(gateway-api): Add gateay status addresses
  internal/controller/gateway/gateway_controller_test.go
  internal/controller/gateway/suite_test.go
  pkg/managerdriver/driver.go
  tools/make/test.mk
Labels: area/controller

#656 feat: Add a default domain reclaim policy
  cmd/agent-manager.go
  cmd/api-manager.go
  cmd/common.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/controller-deployment.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/deployment_test.yaml
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
  internal/controller/agent/agent_endpoint_controller.go
  internal/controller/gateway/httproute_controller_test.go
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/store/store_test.go
  internal/testutils/k8s-resources.go
  pkg/managerdriver/domains.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
Labels: area/controller, area/helm-chart

#657 fix: Hanging connections
  pkg/tunneldriver/driver.go
Labels: area/controller
