Repository ngrok/ngrok-operator, pull requests merged in 2025-02, with the labels that each got.

#586 for the k8s operator resource, remove binding name printcolumn and add endpoint selectors
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
Labels: area/controller, area/helm-chart

#583 Oauth & OIDC conversion
  internal/trafficpolicy/policy.go
  internal/trafficpolicy/policy_test.go
  internal/trafficpolicy/testdata/policy-2.json
  internal/util/traffic_policy.go
  internal/util/traffic_policy_test.go
Labels: area/controller

#590 add bindings annotation
  api/ngrok/v1alpha1/agentendpoint_types.go
  api/ngrok/v1alpha1/cloudendpoint_types.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_agentendpoints.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/controller/ingress/service_controller.go
  internal/ir/ir.go
  pkg/managerdriver/testdata/translator/endpoint-ingress-default-backend-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-namespace-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-pooling-conflict.yaml
  pkg/managerdriver/testdata/translator/endpoint-ingress-trafficpolicy-conflict.yaml
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
Labels: area/controller, area/helm-chart

#551 feature names can be lowercase
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/controller/ngrok/kubernetsoperator_controller_test.go
Labels: area/controller

#588 feat: gateway api -> endpoints
  cmd/agent/main.go
  cmd/api/main.go
  go.mod
  go.sum
  internal/controller/agent/tunnel_controller.go
  internal/controller/bindings/forwarder_controller.go
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/suite_test.go
  internal/ir/ir.go
  internal/ir/ir_test.go
  internal/store/cachestores.go
  internal/store/store.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/endpoints.go
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-invalid-kinds.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-same-namespace.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-valid-kinds.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-infrastructure.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-no-endpoints.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-invalid.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-valid.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-glob-hostname.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-no-hostnames.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-no-parents.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-no-routes.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-weighted-routes-with-rewrite.yaml
  pkg/managerdriver/testdata/translator/gwapi-invalid-backendrefs.yaml
  pkg/managerdriver/testdata/translator/gwapi-invalid-externalref-filters.yaml
  pkg/managerdriver/testdata/translator/gwapi-invalid-listeners.yaml
  pkg/managerdriver/testdata/translator/gwapi-listener-port-and-protocol.yaml
  pkg/managerdriver/testdata/translator/gwapi-matching-rules.yaml
  pkg/managerdriver/testdata/translator/gwapi-missing-filter-configs.yaml
  pkg/managerdriver/testdata/translator/gwapi-redirects.yaml
  pkg/managerdriver/testdata/translator/gwapi-request-headers.yaml
  pkg/managerdriver/testdata/translator/gwapi-request-mirror-not-supported.yaml
  pkg/managerdriver/testdata/translator/gwapi-response-headers.yaml
  pkg/managerdriver/testdata/translator/gwapi-rewrites.yaml
  pkg/managerdriver/testdata/translator/gwapi-tls-passthrough-not-supported.yaml
  pkg/managerdriver/testdata/translator/gwapi-trafficpolicy-annotation.yaml
  pkg/managerdriver/testdata/translator/gwapi-trafficpolicy-filter-tcp-error.yaml
  pkg/managerdriver/testdata/translator/ingress-default-backend-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-namespace-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-no-endpoints.yaml
  pkg/managerdriver/testdata/translator/ingress-pooling-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-trafficpolicy-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-valid.yaml
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
  pkg/managerdriver/utils.go
  pkg/managerdriver/utils_test.go
Labels: area/controller

#589 feat: gwapi ReferenceGrant support
  cmd/agent/main.go
  cmd/api/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/_helpers.tpl
  helm/ngrok-operator/templates/rbac/role.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/controller-deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
  internal/controller/gateway/namespace_controller.go
  internal/controller/gateway/referencegrant_controller.go
  internal/store/cachestores.go
  internal/store/store.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/endpoints.go
  pkg/managerdriver/testdata/translator-disable-refgrants/gwapi-gateway-tls-cross-namespace.yaml
  pkg/managerdriver/testdata/translator-disable-refgrants/gwapi-service-cross-namespace.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-all-namespaces.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-selector.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-no-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/gwapi-no-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/gwapi-valid-referencegrants.yaml
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
Labels: area/controller, area/helm-chart

#592 auto enable gateway api support
  cmd/agent/main.go
  cmd/api/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: area/controller, area/helm-chart

#596 default to using endpoints instead of edges for ingress/gateway API
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  internal/controller/ingress/service_controller.go
  internal/store/store.go
  internal/store/store_test.go
  pkg/managerdriver/domains.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/testdata/translator/gwapi-gateway-default-to-endpoints.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-no-endpoints.yaml
  pkg/managerdriver/testdata/translator/ingress-no-endpoints.yaml
  pkg/managerdriver/testdata/translator/ingress-valid-default-to-endpoints.yaml
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translate_ingresses.go
Labels: area/controller

#594 Implement AgentEndpoint client certs for upstream
  api/ngrok/v1alpha1/agentendpoint_types.go
  api/ngrok/v1alpha1/common_types.go
  api/ngrok/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  helm/ngrok-operator/templates/agent/rbac.yaml
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_agentendpoints.yaml
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/rbac_test.yaml.snap
  internal/controller/agent/agent_endpoint_controller.go
  internal/controller/gateway/gateway_controller.go
  internal/ir/ir.go
  pkg/managerdriver/controller-handler.go
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-no-refgrant.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-multi-gateway.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-refgrant.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid.yaml
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
  pkg/managerdriver/utils.go
  pkg/managerdriver/utils_test.go
  pkg/tunneldriver/driver.go
  pkg/tunneldriver/driver_test.go
Labels: area/controller, area/helm-chart

#595 🎉 Release controller 0.15.0 and helm chart 0.17.0 🎉
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release
