Repository ngrok/ngrok-operator, pull requests merged in 2025-04, with the labels that each got.

#622 Lb services reserve tcp addr for endpoints
  cmd/api/main.go
  internal/annotations/annotations.go
  internal/controller/agent/agent_endpoint_controller.go
  internal/controller/ingress/service_controller.go
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/controller/ngrok/cloudendpoint_controller_test.go
Labels: area/controller

#625 :tada: Release controller 0.16.0 and helm chart 0.18.0-rc.1 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#633 :tada: Release helm chart 0.18.0 :tada:
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#630 enable more golangci linters
  .golangci.yml
  api/ingress/v1alpha1/domain_types.go
  api/ingress/v1alpha1/httpsedge_types.go
  api/ingress/v1alpha1/ippolicy_types.go
  api/ingress/v1alpha1/ngrok_common.go
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/tcpedge_types.go
  api/ingress/v1alpha1/tlsedge_types.go
  api/ingress/v1alpha1/tunnel_types.go
  api/ngrok/v1alpha1/cloudendpoint_types.go
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  api/ngrok/v1alpha1/ngroktrafficpolicy_types.go
  cmd/agent/main.go
  cmd/api/main.go
  cmd/bindings-forwarder/main.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_cloudendpoints.yaml
  internal/controller/agent/agent_endpoint_controller.go
  internal/controller/agent/tunnel_controller.go
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_poller.go
  internal/controller/bindings/forwarder_controller.go
  internal/controller/gateway/gatewayclass_controller.go
  internal/controller/gateway/suite_test.go
  internal/controller/ingress/domain_controller.go
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/ippolicy_controller.go
  internal/controller/ingress/moduleset_controller.go
  internal/controller/ingress/service_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  internal/controller/ngrok/cloudendpoint_controller.go
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/controller/ngrok/ngroktrafficpolicy_controller.go
  internal/healthcheck/healthcheck_test.go
  internal/ir/ir.go
  internal/ngrokapi/bindingendpoint_aggregator.go
  internal/resolvers/ip_policy.go
  internal/resolvers/secret.go
  internal/testutils/k8s-resources.go
  internal/util/traffic_policy.go
  pkg/bindingsdriver/driver.go
  pkg/managerdriver/controller-handler.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/edges.go
  pkg/managerdriver/endpoints.go
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/tunnels.go
  pkg/tunneldriver/driver.go
Labels: area/controller, area/helm-chart, area/ci

#631 enable trivy container scanning job
  .github/workflows/trivy-image-scan.yaml
Labels: area/ci, security

#635 remove generated bindings from ingress/gateway resources
  internal/annotations/annotations.go
  internal/annotations/annotations_test.go
  pkg/managerdriver/testdata/translator-disable-refgrants/gwapi-gateway-tls-cross-namespace.yaml
  pkg/managerdriver/testdata/translator-disable-refgrants/gwapi-service-cross-namespace.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-all-namespaces.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-selector.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-allowed-routes-valid-kinds.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-bindings-annotation-invalid.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-collapse-endpoints-multiple.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-default-to-endpoints.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-endpoints-non-collapsable.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-infrastructure.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-invalid-mapping-strategy.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-tls-valid.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-multi-gateway.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-refgrant.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-glob-hostname.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-no-hostnames.yaml
  pkg/managerdriver/testdata/translator/gwapi-httproute-weighted-routes-with-rewrite.yaml
  pkg/managerdriver/testdata/translator/gwapi-invalid-backendrefs.yaml
  pkg/managerdriver/testdata/translator/gwapi-invalid-externalref-filters.yaml
  pkg/managerdriver/testdata/translator/gwapi-listener-port-and-protocol.yaml
  pkg/managerdriver/testdata/translator/gwapi-matching-rules.yaml
  pkg/managerdriver/testdata/translator/gwapi-missing-filter-configs.yaml
  pkg/managerdriver/testdata/translator/gwapi-no-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/gwapi-redirects.yaml
  pkg/managerdriver/testdata/translator/gwapi-request-headers.yaml
  pkg/managerdriver/testdata/translator/gwapi-request-mirror-not-supported.yaml
  pkg/managerdriver/testdata/translator/gwapi-response-headers.yaml
  pkg/managerdriver/testdata/translator/gwapi-rewrites.yaml
  pkg/managerdriver/testdata/translator/gwapi-tcproute-multigateway.yaml
  pkg/managerdriver/testdata/translator/gwapi-tcproute-multihost.yaml
  pkg/managerdriver/testdata/translator/gwapi-tcproute-simple.yaml
  pkg/managerdriver/testdata/translator/gwapi-tcproute-tls-upstream.yaml
  pkg/managerdriver/testdata/translator/gwapi-tcproute-weighted.yaml
  pkg/managerdriver/testdata/translator/gwapi-tls-tcp-routes-collapsed.yaml
  pkg/managerdriver/testdata/translator/gwapi-tlsroute-multigateway.yaml
  pkg/managerdriver/testdata/translator/gwapi-tlsroute-multihost.yaml
  pkg/managerdriver/testdata/translator/gwapi-tlsroute-simple.yaml
  pkg/managerdriver/testdata/translator/gwapi-tlsroute-tcp-upstream.yaml
  pkg/managerdriver/testdata/translator/gwapi-tlsroute-weighted.yaml
  pkg/managerdriver/testdata/translator/gwapi-trafficpolicy-annotation.yaml
  pkg/managerdriver/testdata/translator/gwapi-trafficpolicy-filter-tcp-error.yaml
  pkg/managerdriver/testdata/translator/gwapi-valid-referencegrants.yaml
  pkg/managerdriver/testdata/translator/ingress-app-protocols.yaml
  pkg/managerdriver/testdata/translator/ingress-default-backend-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-namespace-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-pooling-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-trafficpolicy-conflict.yaml
  pkg/managerdriver/testdata/translator/ingress-valid-collapse-default-backend.yaml
  pkg/managerdriver/testdata/translator/ingress-valid-collapse-simple.yaml
  pkg/managerdriver/testdata/translator/ingress-valid-default-to-endpoints.yaml
  pkg/managerdriver/testdata/translator/ingress-valid.yaml
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
Labels: bug, area/controller

#636 fix(api-manager): panic when TCP/TLS Route CRDs are not installed.
  cmd/api/main.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/translator_test.go
Labels: bug, area/controller

#637 :tada: Release controller 0.16.1 and helm chart 0.18.1 :tada:
  CHANGELOG.md
  VERSION
  helm/ngrok-operator/CHANGELOG.md
  helm/ngrok-operator/Chart.yaml
  helm/ngrok-operator/tests/__snapshot__/controller-deployment_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-pdb_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/controller-serviceaccount_test.yaml.snap
  helm/ngrok-operator/tests/__snapshot__/ingress-class_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/agent/__snapshot__/service-account_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/service-account_test.yaml.snap
Labels: area/helm-chart, area/release

#626 bake ca into image
  .dockerignore
  Dockerfile
  certs/ngrok-ca.crt
  cmd/bindings-forwarder/main.go
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/bindings-forwarder/configmap.ngrok-prod-ca.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/tests/bindings-forwarder/__snapshot__/deployment_test.yaml.snap
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
  internal/controller/bindings/forwarder_controller.go
  internal/util/certs.go
  internal/util/certs_test.go
  pkg/tunneldriver/driver.go
  tests/chainsaw/operator-registration/chainsaw-test.yaml
Labels: area/controller, area/helm-chart

#628 Periodically re-reconcile boundendpoints and refactor connectivity check
  cmd/api/main.go
  internal/controller/bindings/boundendpoint_controller.go
  internal/controller/bindings/boundendpoint_poller.go
Labels: area/controller

#638 chore: Use slices and maps from stdlib
  api/ingress/v1alpha1/httpsedge_types.go
  go.mod
  go.sum
  internal/controller/ingress/httpsedge_controller.go
  internal/controller/ingress/tcpedge_controller.go
  internal/controller/ingress/tlsedge_controller.go
  pkg/managerdriver/tunnels.go
  pkg/tunneldriver/driver.go
Labels: area/controller, priority/low

#640 feat: Upload charts to charts.ngrok.com
  .github/workflows/helm_release.yaml
Labels: area/ci
