Repository ngrok/ngrok-operator, pull requests merged in 2025-03, with the labels that each got.

#602 fix(helm-chart): Resource requests for agent & bindings forwarder
  helm/ngrok-operator/README.md
  helm/ngrok-operator/templates/agent/deployment.yaml
  helm/ngrok-operator/templates/bindings-forwarder/deployment.yaml
  helm/ngrok-operator/tests/agent/deployment_test.yaml
  helm/ngrok-operator/tests/bindings-forwarder/deployment_test.yaml
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: bug, area/helm-chart

#601 chore(deps): Upgrade go to 1.24.1
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  flake.lock
  flake.nix
  scripts/preflight.sh
Labels: area/controller, area/ci

#599 fix: add support for https agent endpoints from ingress/gwapi
  internal/ir/ir.go
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-multi-gateway.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid-refgrant.yaml
  pkg/managerdriver/testdata/translator/gwapi-gateway-upstream-valid.yaml
  pkg/managerdriver/translate_gatewayapi.go
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
  pkg/managerdriver/tunnels.go
  pkg/managerdriver/utils.go
  pkg/managerdriver/utils_test.go
Labels: bug, area/controller

#604 chore(lint): Enable go-critic
  .golangci.yml
  internal/annotations/parser/parser.go
  internal/annotations/webhook_verification/webhook_verification.go
  internal/controller/base_controller.go
  internal/controller/gateway/gateway_controller.go
  internal/controller/gateway/httproute_controller.go
  internal/controller/ingress/service_controller.go
  internal/ir/ir.go
  internal/ngrokapi/bindingendpoint_aggregator.go
  pkg/managerdriver/tunnels.go
Labels: area/controller, area/ci

#603 remove bindings.description
  Makefile
  helm/ngrok-operator/README.md
  helm/ngrok-operator/values.schema.json
  helm/ngrok-operator/values.yaml
Labels: area/helm-chart

#591 Add IngressEndpoint to KubernetesOperatorStatus
  api/ngrok/v1alpha1/kubernetesoperator_types.go
  helm/ngrok-operator/templates/crds/ngrok.k8s.ngrok.com_kubernetesoperators.yaml
  internal/controller/ngrok/kubernetesoperator_controller.go
Labels: area/controller, area/helm-chart

#606 fix: HTTP/2 upstreams for edges & endpoints
  internal/ir/ir.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/testdata/translator/ingress-app-protocols.yaml
  pkg/managerdriver/translate_ingresses.go
  pkg/managerdriver/translator.go
  pkg/managerdriver/translator_test.go
  pkg/managerdriver/tunnels.go
  pkg/managerdriver/utils.go
Labels: bug, area/controller

#613 fix: Agent endpoint domain strategy
  internal/controller/agent/agent_endpoint_controller.go
Labels: bug, area/controller

#610 add deployment name and version to _update calls
  go.mod
  go.sum
  internal/controller/ngrok/kubernetesoperator_controller.go
  internal/controller/ngrok/kubernetesoperator_controller_test.go
Labels: area/controller

#615 fix: Empty TLS cert on creation when bindings are enabled
  internal/controller/ngrok/kubernetesoperator_controller.go
  tests/chainsaw/operator-registration/chainsaw-test.yaml
Labels: bug, area/controller

#616 fix: traffic-policy annotation not working when using mapping-strategy of edges
  api/ingress/v1alpha1/ngrokmoduleset_types.go
  api/ingress/v1alpha1/ngrokmoduleset_types_test.go
  flake.nix
  internal/controller/util.go
  pkg/managerdriver/driver.go
  pkg/managerdriver/driver_test.go
  pkg/managerdriver/translate_ingresses.go
Labels: bug, area/controller

#607 Consume IngressEndpoint from status
  internal/controller/bindings/forwarder_controller.go
  internal/controller/bindings/forwarder_controller_test.go
Labels: area/controller

#605 set operator description from values.yaml description
  cmd/api/main.go
Labels: area/controller
